@font-face {
    font-family: 'ProFontWindows';
    src: url('ProFontWindows.ttf') format('truetype');
}

@font-face {
    font-family: 'AbhayaLibre';
    src: url('AbhayaLibre-Regular.ttf') format('truetype');
}

* {
    transition: 2s;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    z-index: 0;

}

h2 {
    color: rgb(0, 0, 0);
    align-self: center;
    padding: 10px;
}

h3 {
    font-family: AbhayaLibre;
    color: rgb(0, 0, 0);
    align-self: center;
    margin: 0px;
    padding: 10px;
}

h4 {
    font-family: ProFontWindows;
    color: rgb(0, 0, 0);
    align-self: center;
    padding: 10px;
}

.mini-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(85, 32, 233, 0.747);
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.tableResult>h2 {
    color: rgb(255, 255, 255);
}

.tableResult {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.747);
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

#win {
    font-size: 8rem;
    margin: 30px 0 50px 0;
}

#tab {
    background-color: rgb(255 255 255 / 40%);
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
    background-size: 400%;
}

@keyframes rainbow_animation {

    0%,
    100% {
        background-position: 0
    }

    50% {
        background-position: 100%
    }
}



.mini-table_left {
    width: 50%;
}

.mini-table_left>* {
    text-align: center;
    margin: 5px;
    font-size: larger;
}

.mini-table_right {
    width: 50%;
}

.mini-table_right>* {
    text-align: center;
    margin: 5px;
    font-size: larger;
}


.main_block {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.cart {
    display: flex;
    flex-flow: column;
    width: 300px;
    margin: auto;
}

.cart_head {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    background-color: rgba(8, 4, 19, 0.747);

}

.cart_head>h4 {
    font-family: ProFontWindows;
    color: rgb(0, 255, 42);
    font-size: 2.5rem;
    align-self: center;
    padding: 10px 0 10px 10px;
    margin: 10px 0 10px 0;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: .15em;
    animation:
        typing 3006.98ms steps(30, end),
        blink-caret 1s step-end infinite;
}


.cart_body {
    display: flex;
    flex-flow: column;
    height: 100%;
    background: #ffffff;
}

.cart_body-title {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.selectQuery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


#sukces {
    font-size: 3rem;
    color: rgb(1, 241, 81);
}

#unSukces {
    font-size: 3rem;
    color: #fc0606;
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
    -webkit-animation: pulsate 1245.54ms cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
    animation: pulsate 1245.54ms cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}

@-webkit-keyframes pulsate {
    50% {
        color: rgba(255, 255, 255, 0.514);
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #f38282, 0 0 8px #fff;
    }
}

@keyframes pulsate {
    50% {
        color: rgba(255, 255, 255, 0.514);
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #f16969, 0 0 8px #fff;
    }
}


.unSukces {
    font-size: 3rem;
    color: rgb(252, 6, 6);
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
}



@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 80%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.loss {
    display: none;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: 0s;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.selectQuery{
    border: none;
    transition: 0s;
}
.selectQuery:hover {
    border: 3px solid rgba(172, 255, 47, 0.397);
}